
<!-- public:header 以下内容 -->
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>网站后台管理中心- Powered by 74cms.com</title>
    <link rel="shortcut icon" href="/74cms_v4.2.111/upload/favicon.ico"/>
    <meta name="author" content="骑士CMS" />
    <meta name="copyright" content="74cms.com" />
    <link href="../upload/Application/Admin/View/default/public/css/common.css" rel="stylesheet" type="text/css">
    <script src="../upload/Application/Admin/View/default/public/vue.min.js"></script>
    <script src="../upload/Application/Admin/View/default/public/jquery-1.9.1.min.js"></script>
</head>
<body>

<!-- public:header 以上内容 -->
<div class="allpagetop">企业<strong>/</strong>业务管理</div>
<div class="mains" id="vueTable_id">
    <div class="h1tit">
        <div class="h1">
            业务管理
        </div>
        <div class="topnav">
            <a href="yewuguanli.html" class="">套餐</a>
            <a href="jifen.html" class="">积分</a>
            <a href="dingdanguanli.html" class="select">订单管理</a>
            <a href="qiyetuiguang.html" class="">企业推广</a>
            <a href="zengzhifuwu.html" class="">增值服务</a>
            <a href="fapiaoguanli.html" class="">发票管理</a>
            <a href="mobanguanli.html" class="">模板</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="toptip">
        <div class="toptit">统计：</div>
        <p>已完成：{{yiwancheng}}&nbsp;&nbsp;&nbsp;待付款：{{daifukuan}}&nbsp;&nbsp;&nbsp;已取消：{{yiquxiao}}</p>
    </div>
    <div class="seltpye_y">
        <div class="tit">完成状态</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&is_paid=&is_paid_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&is_paid=2&is_paid_cn=%E5%B7%B2%E5%AE%8C%E6%88%90">已完成</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&is_paid=1&is_paid_cn=%E5%BE%85%E4%BB%98%E6%AC%BE">待付款</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&is_paid=3&is_paid_cn=%E5%B7%B2%E5%8F%96%E6%B6%88">已取消</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">付款方式</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&payment=">不限</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&payment=points&payment_cn=%E7%A7%AF%E5%88%86%E6%94%AF%E4%BB%98">积分支付</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&payment=alipay&payment_cn=%E6%94%AF%E4%BB%98%E5%AE%9D">支付宝</li><li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&payment=wxpay&payment_cn=%E5%BE%AE%E4%BF%A1%E6%94%AF%E4%BB%98">微信支付</li><li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&payment=remittance&payment_cn=%E7%BA%BF%E4%B8%8B%E8%BD%AC%E8%B4%A6">线下转账</li>    </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">订单类型</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=&type_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=1&type_cn=%E5%8D%87%E7%BA%A7%E5%A5%97%E9%A4%90">升级套餐</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=2&type_cn=%E5%85%85%E5%80%BC%E7%A7%AF%E5%88%86">充值积分</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=6&type_cn=%E7%AE%80%E5%8E%86%E5%8C%85">简历包</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=7&type_cn=%E7%9F%AD%E4%BF%A1%E5%8C%85">短信包</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=8&type_cn=%E8%81%8C%E4%BD%8D%E7%BD%AE%E9%A1%B6">职位置顶</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=9&type_cn=%E8%81%8C%E4%BD%8D%E7%B4%A7%E6%80%A5">职位紧急</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=10&type_cn=%E4%BC%81%E4%B8%9A%E6%A8%A1%E6%9D%BF">企业模板</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=11&type_cn=%E8%AF%9A%E8%81%98%E9%80%9A">诚聘通</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=12&type_cn=%E9%A2%84%E7%BA%A6%E5%88%B7%E6%96%B0">预约刷新</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=13&type_cn=%E5%8D%95%E4%B8%AA%E8%81%8C%E4%BD%8D%E5%88%B7%E6%96%B0">单个职位刷新</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&type=14&type_cn=%E5%8D%95%E4%BB%BD%E7%AE%80%E5%8E%86%E4%B8%8B%E8%BD%BD">单份简历下载</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">添加时间</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=&settr_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=3&settr_cn=%E4%B8%89%E5%A4%A9%E5%86%85">三天内</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=7&settr_cn=%E4%B8%80%E5%91%A8%E5%86%85">一周内</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=30&settr_cn=%E4%B8%80%E6%9C%88%E5%86%85">一月内</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=180&settr_cn=%E5%8D%8A%E5%B9%B4%E5%86%85">半年内</li>
            <li url="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=index&settr=360&settr_cn=%E4%B8%80%E5%B9%B4%E5%86%85">一年内</li>
        </div>
    </div>
    <div class="clear"></div>

    <form id="form1" name="form1" method="post" action="/74cms_v4.2.111/upload/index.php?m=admin&c=order&a=order_cancel">
        <div class="list_th">
            <div class="td" style=" width:10%;">
                <label id="chkAll" class="left_padding">
                    <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>全选
                </label>
            </div>
            <div class="td" style=" width:10%;">金额</div>
            <div class="td" style=" width:15%;">公司名称</div>
            <div class="td" style=" width:10%;">说明</div>
            <div class="td center" style=" width:12%;">单号</div>
            <div class="td center" style=" width:12%;">申请会员</div>
            <div class="td center" style=" width:9%;">申请时间</div>
            <div class="td center" style=" width:9%;">支付方式</div>
            <div class="td" style=" width:13%;">操作</div>
            <div class="clear"></div>
        </div>
        <div class="list_tr link_black" v-for="order in orderList">
            <div class="td" style=" width:10%;">
                <div class="left_padding striking">
                    <input name="id[]" type="checkbox" id="y_id" value="1"  />
                    <span style="color: #FF6600" v-if="order.order.isPaid==1">待付款</span>
                    <span style="color:  #009900" v-if="order.order.isPaid==2">已完成</span>
                    <span style="color: #999;" v-if="order.order.isPaid==3">已取消</span>
                </div>
            </div>
            <div class="td" style=" width:10%;">￥<strong>{{order.order.amount}}</strong>元</div>
            <div class="td" style=" width:15%;">
                {{order.jobs.companyname}}
            </div>
            <div class="td" style=" width: 10%;">{{order.order.serviceName}}</div>
            <div class="td center" style=" width:12%;">{{order.order.oid}}</div>
            <div class="td center" style=" width:12%;">{{order.members.username}}</div>
            <div class="td center" style=" width:9%;">{{new Date(order.order.addtime*1000).toLocaleString()}}</div>
            <div class="td center" style=" width:9%;">{{order.order.paymentCn}}</div>
            <div class="td edit" style=" width:13%;">
                <a href="javascript:void(0);" class="blue order_log" parameter="uid=3">日志</a>
                <a v-bind:href="'dingdanguanli-shezhi.html?id='+order.order.id" v-if="order.order.isPaid!=2">设置</a>
                <a v-bind:href="'dingdanguanli-chakan.html?id='+order.order.id" v-if="order.order.isPaid==2">查看</a>
                <a href="javascript:void(0);" @click="updateIspaid(order.order.id)" v-if="order.order.isPaid==1" class="gray">取消</a>            </div>
            <div class="clear"></div>
        </div>
    </form>

    <div class="list_empty">没有任何信息！</div>
    <div class="list_foot">
        <div class="btnbox">
            <input type="button" class="admin_submit" id="ButAdd" value="导出数据" onclick="exportDingDanGuanLi()"/>
        </div>
        <div class="footso">
            <form action="?" method="get">
                <div class="sobox">
                    <input type="hidden" name="m" value="Admin">
                    <input type="hidden" name="c" value="Order">
                    <input type="hidden" name="a" value="index">
                    <input name="key" type="text" class="sinput" value=""/>
                    <input name="key_type" id="J_key_type_id" type="hidden" value="1" />
                    <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="公司名"/>
                    <input name="" type="submit" value="" class="sobtn"/>
                    <div class="sotype" id="J_key_click">公司名</div>
                    <div class="mlist" id="J_mlist">
                        <ul>
                            <li id="1" title="公司名">公司名</li>
                            <li id="2" title="会员名">会员名</li>
                            <li id="3" title="订单号">订单号</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pages">
        <a class='unable'>上一页</a>
        <span class='current' v-for="total1 in total">{{total1}}</span>
        <a class='unable'>下一页</a>
    </div>
</div>
<!-- public:footer 以下内容 -->
<div class="footer link_blue">
    Powered by <a href="http://www.74cms.com" target="_blank"><span style="color:#009900">74</span><span
        style="color: #FF3300">cms</span></a> v4.2.111</div>
<!-- public:footer 以上内容 -->

</body>

<script type="text/javascript">
    var a;
    $(function () {
        findOrderMembersJobsResult();
    })

    function findOrderMembersJobsResult() {
        $.ajax({
            url:'../membersSetmealProfilePoints/findOrderMembersJobsResult.do',
            type:'post',
            data:{
                "page":1,
                "rows":10
            },
            success:function (data) {
                a=new Vue({
                    el: '#vueTable_id',
                    data: {
                        orderList:data.rows,
                        total:Math.ceil(data.total/10),
                        yiwancheng:[],
                        daifukuan:[],
                        yiquxiao:[]
                    },
                })
                countfukuanAll();
            },
            error:function () {
                alert("后台错误")
            }
        })
    }
function countfukuanAll() {
    $.post('../membersSetmealProfilePoints/countfukuanAll.do',{},function (data) {
        a.yiwancheng=data.yiwancheng;
        a.daifukuan=data.daifukuan;
        a.yiquxiao=data.yiquxiao;
    })
}

function updateIspaid(id) {
        alert(id)
    $.ajax({
        url:'../membersSetmealProfilePoints/updateIspaid.do',
        type: 'post',
        data:{
            "id":id,
        },
        success:function () {
            location.reload();
        },
        error:function () {
            alert("系统挂了")
        }
    })
}
    //导出
    function exportDingDanGuanLi(){
        window.location.href = "../membersSetmealProfilePoints/exportDingDanGuanLi.do";
    }

    function toupdateById(id) {
        alert(id)
        window.location.href = "dingdanguanli-shezhi.html?id="+id;
    }

    function showupdateById(id) {
        window.location.href ="dingdanguanli-chakan.html?id="+id;
    }
</script>

</html>