
<!-- public:header 以下内容 -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>网站后台管理中心- Powered by 74cms.com</title>
    <link rel="shortcut icon" href="../upload/favicon.ico"/>
    <meta name="author" content="骑士CMS" />
    <meta name="copyright" content="74cms.com" />
    <link href="../upload/Application/Admin/View/default/public/css/common.css" rel="stylesheet" type="text/css">
    <script src="../upload/Application/Admin/View/default/public/js/jquery-1.9.1.min.js"></script>
    <script src="../upload/Application/Admin/View/default/public/js/vue/axios.min.js"></script>
    <script src="../upload/Application/Admin/View/default/public/js/vue/vue.min.js"></script>
    <script src="../upload/Application/Admin/View/default/public/js/pager.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../upload/Application/Admin/View/default/public/js/PIE.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.pie = function (name, v) {
                // 如果没有加载 PIE 则直接终止
                if (!PIE) return false;
                // 是否 jQuery 对象或者选择器名称
                var obj = typeof name == 'object' ? name : $(name);
                // 指定运行插件的 IE 浏览器版本
                var version = 9;
                // 未指定则默认使用 ie10 以下全兼容模式
                if (typeof v != 'number' && v < 9) {
                    version = v;
                }
                // 可对指定的多个 jQuery 对象进行样式兼容
                if ($.browser.msie && obj.size() > 0) {
                    if ($.browser.version * 1 <= version * 1) {
                        obj.each(function () {
                            PIE.attach(this);
                        });
                    }
                }
            }
        })(jQuery);
        if ($.browser.msie) {
            $.pie('.pie_about');
        };
    </script>
    <![endif]-->
    <script src="../upload/Application/Admin/View/default/public/js/jquery.disappear.tooltip.js"></script>
    <!--<script src="../upload/Application/Admin/View/default/public/js/common.js"></script>-->
    <script>
        var URL = '../upload/index.php/admin/jobs',
            SELF = '../upload/index.php?m=admin&amp;c=jobs&amp;a=index&amp;menu_id=194&amp;sub_menu_id=195',
            ROOT_PATH = '../upload/index.php/admin',
            APP	 =	 '../upload/index.php';

        var qscms = {
            is_subsite : 0,
            subsite_level : "3",
            default_disdivict : ""
        };
    </script>

</head>
<body>




<!-- public:header 以上内容 -->

<div id="contentcategory_grid">
<div class="allpagetop">企业<sdivong>/</sdivong>职位管理</div><div class="mains">
    <div class="h1tit">
        <div class="h1">
            职位管理                        </div>
        <div class="clear"></div>
    </div>
    <div class="toptip">
        <div class="toptit">提示：</div>
        <p>有效职位是指：审核通过、审核中、服务未到期等网站能正常显示的职位。</p>
        <p>无效职位是指：审核未通过、服务到期等网站前台不显示的职位。</p>
    </div>
    <div class="seltpye_y">
        <div class="tit">有效状态</div>
        <div class="ct">
            <div class="txt select">有效职位</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">有效职位<span>(0)</span></li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=2&jobtype_cn=%E6%97%A0%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">无效职位<span>(4)</span></li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">审核状态</div>
        <div class="ct">
            <div class="txt select">审核通过</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=0&audit_cn=%E4%B8%8D%E9%99%90&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">不限</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=2&audit_cn=%E7%AD%89%E5%BE%85%E5%AE%A1%E6%A0%B8&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">等待审核</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">审核通过<span>(0)</span></li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">服务到期</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&deadline=&deadline_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&deadline=3&deadline_cn=%E4%B8%89%E5%A4%A9%E5%86%85">三天内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&deadline=7&deadline_cn=%E4%B8%80%E5%91%A8%E5%86%85">一周内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&deadline=30&deadline_cn=%E4%B8%80%E6%9C%88%E5%86%85">一月内</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">推广类型</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">不限</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=-1&promote_cn=%E6%9C%AA%E6%8E%A8%E5%B9%BF&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">未推广</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=1&promote_cn=%E7%BD%AE%E9%A1%B6&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">置顶</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=2&promote_cn=%E7%B4%A7%E6%80%A5&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">紧急</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">添加时间</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&addsetdiv=&addsetdiv_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&addsetdiv=3&addsetdiv_cn=%E4%B8%89%E5%A4%A9%E5%86%85">三天内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&addsetdiv=7&addsetdiv_cn=%E4%B8%80%E5%91%A8%E5%86%85">一周内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&addsetdiv=30&addsetdiv_cn=%E4%B8%80%E6%9C%88%E5%86%85">一月内</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">刷新时间</div>
        <div class="ct">
            <div class="txt ">不限</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&setdiv=&setdiv_cn=%E4%B8%8D%E9%99%90">不限</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&setdiv=3&setdiv_cn=%E4%B8%89%E5%A4%A9%E5%86%85">三天内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&setdiv=7&setdiv_cn=%E4%B8%80%E5%91%A8%E5%86%85">一周内</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4&setdiv=30&setdiv_cn=%E4%B8%80%E6%9C%88%E5%86%85">一月内</li>
        </div>
    </div>
    <div class="seltpye_y">
        <div class="tit">排序方式</div>
        <div class="ct">
            <div class="txt ">发布时间</div>
        </div>
        <div class="downlist">
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=addtime&orderby_cn=%E5%8F%91%E5%B8%83%E6%97%B6%E9%97%B4">发布时间</li>
            <li url="../upload/index.php?m=admin&c=jobs&a=index&jobtype=1&jobtype_cn=%E6%9C%89%E6%95%88%E8%81%8C%E4%BD%8D&audit=1&audit_cn=%E5%AE%A1%E6%A0%B8%E9%80%9A%E8%BF%87&promote=&promote_cn=%E4%B8%8D%E9%99%90&orderby=refreshtime&orderby_cn=%E5%88%B7%E6%96%B0%E6%97%B6%E9%97%B4">刷新时间</li>
        </div>
    </div>
    <div class="clear"></div>

        <div class="list_th" >
            <div class="td" style=" width:23%;">
                <label id="chkAll" class="left_padding">
                    <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>职位名称
                </label>
            </div>
            <div class="td" style=" width:22%;">公司名称</div>
            <div class="td center" style=" width:10%;">审核状态&nbsp;&nbsp;&nbsp;</div>
            <div class="td center" style=" width:10%;">发布时间</div>
            <div class="td center" style=" width:10%;">刷新时间</div>
            <div class="td" style=" width:20%;">操作</div>
            <div class="clear"></div>
        </div>
        <div class="list_th"  v-for="entity in contentCategoryList">
            <div class="td" style=" width:23%;">
                <label  class="left_padding">
                    <input type="checkbox" :value="entity.id" v-model="checkboxName"/>{{entity.jobsName}}
                </label>
            </div>
            <div class="td" style=" width:22%;">{{entity.companyname}}</div>
            <div class="td center" style=" width:10%;">{{entity.audit}}</div>
            <div class="td center" style=" width:10%;">{{entity.addtime}}</div>
            <div class="td center" style=" width:10%;">{{entity.refreshtime}}</div>
            <div class="td" style=" width:20%;" class="text-center">
                <a href="javaScript:void(0)" @click="updateContentType(entity.id)">修改</a>
                <a href="javascript:void(0);" class="business" parameter="uid=2" hideFocus="true">业务</a>
                <a href="updjobs.html">编辑</a>
                <a href="javascript:void(0);" class="blue jobs_log" parameter="id=4">日志</a>
                <a href="javascript:void(0);" class="J_message" parameter="uid=2">发消息</a>
                <a onclick="delContentType()" class="gray">删除</a>
            </div>
        </div>

    <div class="list_empty">没有任何信息！</div>
    <div class="list_foot">
        <div class="btnbox">
            <input type="button" class="admin_submit" id="ButAudit" value="审核"/>
            <input type="button" class="admin_submit" id="Budivefresh" value="刷新"/>
            <input type="button" onclick="delContentType()" class="admin_submit" id="ButDel" value="删除"/>
        </div>

        <div class="footso">
                <div class="sobox">
                    <input type="hidden" name="m" value="Admin">
                    <input type="hidden" name="c" value="Jobs">
                    <input type="hidden" name="a" value="index">
                    <input name="key" type="text" class="sinput" value=""/>
                    <input name="key_type" id="J_key_type_id" type="hidden" value="1" />
                    <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="职位名"/>
                    <input name="" type="submit" value="" class="sobtn"/>
                    <div class="sotype" id="J_key_click">职位名</div>
                    <div class="mlist" id="J_mlist">
                        <ul>
                            <li id="1" title="职位名">职位名</li>
                            <li id="2" title="公司名">公司名</li>
                            <li id="3" title="职位ID">职位ID</li>
                            <li id="4" title="公司ID">公司ID</li>
                            <li id="5" title="会员ID">会员ID</li>
                            <li id="6" title="手机号">手机号</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="pages"> <a class='unable'>上一页</a>  <span class='current'>1</span> <a class='unable'>下一页</a> </div>
<!-- public:footer 以下内容 -->
<div class="footer link_blue">
    Powered by <a href="http://www.74cms.com" target="_blank"><span style="color:#009900">74</span><span
        style="color: #FF3300">cms</span></a> v4.2.111</div>
<!-- public:footer 以上内容 -->
</div>
</div>
</body>
<script type="text/javascript">
    var vm ;
    $(function () {
        search();
    })

    /*function searchJobs() {
        $.ajax({
            type: "post",
            url: "../jobs/findJobslist.do",
            data:"",
            dataType: "json",
            success: function (result) {
                console.info(result)
                productListVue = new Vue({
                    el: '#contentcategory_grid',
                    data: {
                        contentCategoryList: result.rows,
                        "page":page,
                        "rows":rows
                    }
                })
                 new Vue({
                     el: '#app',
                     data: {
                         total: result.total,     // 记录总条数
                         display: 5,   // 每页显示条数
                         current: 1     // 当前第n页 ， 也可以 watch current 的变化
                     },
                     methods: {
                         pagechange: function (p) {
                             this.current = p;// 页码改变event ， p 为新的 current
                         }
                     }
                 });
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }*/

    function searchByPage(page,rows) {
        if(page == null){
            page = document.getElementById("current").innerHTML;
        }
        if(rows == null){
            rows = document.getElementById("display").innerHTML;
        }
        $.ajax({
            type: "post",
            url: "../jobs/findJobsList.do",
            data:{

                "page":page,
                "rows":rows
            },
            dataType: "json",
            success: function (result) {
                vm.contentCategoryList = result.rows;
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function search() {
        $.ajax({
            type: "post",
            url: "../jobs/findJobsList.do",
            data:{

                "page":1,
                "rows":5
            },
            dataType: "json",
            success: function (result) {
                console.info(result)
                productListVue = new Vue({
                    el: '#contentcategory_grid',
                    data: {
                        checkboxName:[],
                        contentCategoryList: result.rows
                    }
                })
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function delContentType() {
        var arr = productListVue.checkboxName;
        var ids="";
        for (var i=0;i<arr.length;i++){
            ids+=","+arr[i];
        }
        alert(ids)
        ids=ids.substring(1);
        alert(ids)
        $.ajax({
            url:'../jobs/delJobs.do?ids='+ids,
            type: "post",
            dataType:"json",
            success: function (data) {
                if (data) {
                    alert("恭喜您成功删除!")
                    location.reload();
                } else {
                    alert("删除失败，请重新操作!")
                    location.reload();
                }
            }
        });
    }

    function deletejobs(id) {

        if (confirm('你确定要删除吗？')){
            $.post('../jobs/deleteJobs.do',{ids:ids},function (data) {
                if (data.success==true) {
                    alert(data.message);
                    location.reload();
                }else {
                    alert(data.message);
                }
            })
        }

    }

















































    $(document).ready(function () {
        $(".J_message").click(function () {
            $('.modal_backdrop').remove();
            $('.modal').remove();
            var qsDialog = $(this).dialog({
                title: '发消息',
                loading: divue,
                footer : false
            });
            var param = $(this).atdiv('parameter');
            var url = "../upload/index.php?m=admin&c=ajax&a=ajax_message&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //业务
        $(".business").click(function () {
            var qsDialog = $(this).dialog({
                title: '业务',
                loading: divue,
                footer : false
            });
            var param = $(this).atdiv('parameter');
            var url = "../upload/index.php?m=admin&c=ajax&a=business&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //职位日志
        $(".jobs_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '职位日志',
                loading: divue,
                footer : false
            });
            var param = $(this).atdiv('parameter');
            var url = "../upload/index.php?m=admin&c=ajax&a=jobs_log&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //职位审核日志
        $(".audit_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '审核日志',
                loading: divue,
                footer : false
            });
            var param = $(this).atdiv('parameter');
            var url = "../upload/index.php?m=admin&c=ajax&a=audit_log&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //审核职位
        $("#ButAudit").click(function () {
            var data = $("form[name=form1]").serialize();
            if(data.length == 0){
                disapperTooltip('remind','请选择职位！');
            } else {
                var qsDialog = $(this).dialog({
                    title: '审核职位',
                    loading: divue,
                    footer : false
                });
                var url = "../upload/index.php?m=admin&c=ajax&a=jobs_audit";
                $.post(url, data, function (result) {
                    if(result.status == 1){
                        qsDialog.setContent(result.data);
                    } else {
                        qsDialog.hide();
                        disapperTooltip('remind',result.msg);
                    }
                });
            }
        });
        //点击批量删除
     /*   $("#ButDel").click(function () {
            if (confirm('你确定要删除吗？')) {
                $("form[name=form1]").atdiv("action", "../upload/index.php?m=admin&c=jobs&a=delete_jobs");
                $("form[name=form1]").submit();
            }
        });*/
        //点击批量刷新
        $("#Budivefresh").click(function () {
            $("form[name=form1]").atdiv("action", "../upload/index.php?m=admin&c=jobs&a=refresh_jobs");
            $("form[name=form1]").submit();
        });
    });
</script>
</html>