
<!-- public:header 以下内容 -->
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>网站后台管理中心- Powered by 74cms.com</title>
    <link rel="shortcut icon" href="../upload/favicon.ico"/>
    <script src="../upload/Application/Admin/View/default/public/vue/axios.min.js"></script>
    <script src="../upload/Application/Admin/View/default/public/vue/vue.min.js"></script>
    <meta name="author" content="骑士CMS" />
    <meta name="copyright" content="74cms.com" />
    <link href="../upload/Application/Admin/View/default/public/css/common.css" rel="stylesheet" type="text/css">
    <script src="../upload/Application/Admin/View/default/jquery-1.9.1.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="../upload/Application/Admin/View/default/public/js/PIE.js"></script>
    <script type="text/javascript">
        /*(function ($) {
            $.pie = function (name, v) {
                // 如果没有加载 PIE 则直接终止
                if (!PIE) return false;
                // 是否 jQuery 对象或者选择器名称
                var obj = typeof name == 'object' ? name : $(name);
                // 指定运行插件的 IE 浏览器版本
                var version = 9;
                // 未指定则默认使用 ie10 以下全兼容模式
                if (typeof v != 'number' && v < 9) {
                    version = v;
                }
                // 可对指定的多个 jQuery 对象进行样式兼容
                if ($.browser.msie && obj.size() > 0) {
                    if ($.browser.version * 1 <= version * 1) {
                        obj.each(function () {
                            PIE.attach(this);
                        });
                    }
                }
            }
        })(jQuery);
        if ($.browser.msie) {
            $.pie('.pie_about');
        };*/
    </script>
    <![endif]-->
    <script>
        var URL = '../upload/index.php/admin/personal',
            SELF = '../upload/index.php?m=admin&amp;c=personal&amp;a=promotion',
            ROOT_PATH = '../upload/index.php/admin',
            APP	 =	 '../upload/index.php';

        var qscms = {
            is_subsite : 0,
            subsite_level : "3",
            default_district : ""
        };
    </script>
</head>
<body>

<!-- public:header 以上内容 -->
<div class="allpagetop">个人<strong>/</strong>业务管理</div><div class="mains">
    <div class="h1tit">
        <div class="h1">
            业务管理                        </div>
        <div class="topnav">
            <a href="../business/order.html" class="">订单管理</a><a href="../business/personal.html" class="select">个人推广</a>                <div class="clear"></div>
        </div>		<div class="clear"></div>
    </div>
    <div class="toptip">
        <div class="toptit">提示：</div>
        <p>系统将自动取消到期的简历推广。</p>
        <p>此列表不显示到期、停止、未通过审核的简历推广信息。</p>
    </div>
    <div class="seltpye_x">
        <div class="left">推广方案</div>
        <div class="right">
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&type=stick" class="select">简历置顶</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&type=tag" >醒目标签</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="seltpye_x">
        <div class="left">到期时间</div>
        <div class="right">
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=" class="select">不限</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=0" >已经到期</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=3" >三天内到期</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=7" >一周内到期</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=30" >一月内到期</a>
            <a href="../upload/index.php?m=admin&c=personal&a=promotion&settr=90" >三月内到期</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="person_grid">
    <form id="form1" name="form1" method="post" >
        <div class="list_th">
            <div class="td" style=" width:30%;">
                <label id="chkAll" class="left_padding">
                    <input type="checkbox" @click="checkAll" v-model="checked">
                    　　<span>全选/姓名</span>
                </label>
            </div>
            <div class="td" style=" width:10%;">推广类型</div>
            <div class="td center" style=" width:10%;">会员ID</div>
            <div class="td center" style=" width:10%;">推广天数</div>
            <div class="td center" style=" width:15%;">开始时间</div>
            <div class="td center" style=" width:15%;">结束时间</div>
            <div class="td" style=" width:10%;">操作</div>
            <div class="clear"></div>
        </div>
        <div class="list_tr link_blue" v-for=" person in personList">
            <div class="td" style=" width:30%;">
                <div class="left_padding striking">
                    <input type="checkbox" v-model="checkModel" :value="person.resume.id">
                    {{person.resume.fullname}}
                </div>
            </div>
            <div class="td" style=" width:10%;">
                简历置顶
            </div>
            <div class="td center" style=" width:10%;">{{person.personalServiceStickLog.resumeUid}}</div>
            <div class="td center" style=" width:10%;">{{person.personalServiceStickLog.days}}天</div>
            <div class="td center" style=" width: 15%;">
                {{new Date(person.personalServiceStickLog.addtime*1000).toLocaleString()}}
            </div>
            <div class="td center" style=" width:15%;">
                <span style="color:#FF6600">
                    {{new Date(person.personalServiceStickLog.endtime*1000).toLocaleString()}}
                </span>
            </div>
            <div class="td edit" style=" width:10%;">
                <a href="javascript:void(0)" @click="updatePerson(person.resume.id)">修改</a>

            </div>
            <div class="clear"></div>
        </div>
    </form>
    <div class="list_foot">
        <div class="btnbox">
            <input type="button" class="admin_submit" id="ButAdd" value="添加推广" onclick="addTuiGuang()"/>
            <input type="button" class="admin_submit" onclick="updateTuiGuang()" id="ButDel" value="取消推广"/>
           <!-- <input type="button" onclick="importXLS()" class="admin_submit"  value="导入"/>-->
            <input type="button" onclick="exportExce()" class="admin_submit"  value="导出"/>
        </div>

        <div class="footso">
            <form action="?" method="get">
                <div class="sobox">
                    <input type="hidden" name="m" value="Admin">
                    <input type="hidden" name="c" value="Personal">
                    <input type="hidden" name="a" value="promotion">
                    <input name="key" type="text" class="sinput" value=""/>
                    <input name="key_type" id="J_key_type_id" type="hidden" value="1" />
                    <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="简历名称"/>
                    <input name="" type="submit" value="" class="sobtn"/>
                    <div class="sotype" id="J_key_click">简历名称</div>
                    <div class="mlist" id="J_mlist">
                        <ul>
                            <li id="1" title="简历名称">简历名称</li>
                            <li id="2" title="简历ID">简历ID</li>
                            <li id="3" title="会员ID">会员ID</li>
                        </ul>
                    </div>
                </div>
            </form>    </div>
    </div>
    <div class="pages">
        <a class='unable'>上一页</a>
        <span class='current'>1</span>
        <a class='unable'>下一页</a>
    </div>
    </div>
<!-- public:footer 以下内容 -->
<div class="footer link_blue">
    Powered by <a href="http://www.74cms.com" target="_blank"><span style="color:#009900">74</span><span
        style="color: #FF3300">cms</span></a> v4.2.111</div>
<!-- public:footer 以上内容 -->
    <div id="dialogId">
        <div class="popWindow" v-show="ok">
            <table style="width:100%;line-height:22px;" cellspacing="0" cellpadding="0">
                <tr style="background-color:#075E8B;">
                    <td style="color:#e2e2e2;font-family:bolder;font-size:10pt;">删除框</td>
                    <td style="color:#EBEBEB;font-weight:bolder;width:20px;">
                        <img onclick="closeDialog()"  src="../upload/Application/Admin/View/default/public/images/menu/cross.png" style="width:16px;height:16px;" title="关闭"/>
                    </td>
                </tr>
            </table>
            <div>
                请选择要导入的excel文件
                <input type="file"  id="file">

            </div>
            <input type="button" onclick="importXLS1()" class="admin_submit"  value="确定"/>
            <input type="button" onclick="closeDialog()" class="admin_submit"  value="取消"/>
        </div>
    </div>
</body>
<script type="text/javascript">
    var vm;
    $(function () {
        //alert(1)
        $.ajax({
            type: "post",
            url: "../resume/findPerson.do",
            data: '',
            dataType: "",
            success: function (result) {
                //alert(result.rows);
                vm = new Vue({
                    el: '#person_grid',
                    data: {
                        personList: result.rows,
                        checked:false, //是否全选
                        checkModel:[] //双向数据绑定的数组，我是用的id
                    },
                    watch:{
                        checkModel(){
                            if(this.checkModel.length==this.personList.length){
                                this.checked=true;
                            }else{
                                this.checked=false;
                            }
                        }
                    },
                    methods:{
                        checkAll(){
                            if(this.checked){
                                this.personList.forEach((item)=>{
                                    if(this.checkModel.indexOf(item.id)==-1){
                                        this.checkModel.push(item.id)
                                    }
                                })

                            }else{
                                this.checkModel=[];
                            }
                        }
                    }
                })
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    })

    function updatePerson(id){
        window.location.href="promotion_stick_edit.html?id="+id;
    }

    function updateTuiGuang() {
        var arr = vm.checkAll;
        var ids = "";
        for (var i = 0; i < arr.length; i++) {
            ids += ids == "" ? arr[i] : ","+arr[i];
        }
        //alert(ids)
        if(ids == ""){
            alert("请选择要取消推广的数据");
            return "";
        }
        if(confirm("确定要取消推广吗？")){
            $.post('../resume/updateTuiGuang.do',{ids:ids},function (data){
                if(data.success){
                    alert(data.message);
                    window.location.reload();
                }else{
                    alert(data.message);
                }
            })
            alert("取消成功")
        }
    }
    //导出
    function exportPersonalList(){
        window.location.href = "../resume/exportPersonalList.do";
    }

    //导入
    var dialog = new Vue({
        el: '#dialogId',
        data: {
            ok: false,
            excel:'',
        }
    })

    function exportExce(){
        window.location.href = "../resume/exportPersonalList.do";
    }
    function importXLS1(){
        var file_url = document.getElementById("file").value;
        $.post('../resume/importPersonalXLS.do',{filePath:file_url},function (data) {
            alert(data)

        })
    }
    function closeDialog() {
        dialog.ok=false;
    }
    function openDialog(){
        dialog.ok=true;
    }

    function addTuiGuang() {
        window.location.href='../business/promotion_add.html'
    }

</script>
</html>