<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.QsAdvResumeTrainingMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.QsAdvResumeTraining" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="startyear" property="startyear" jdbcType="SMALLINT" />
    <result column="startmonth" property="startmonth" jdbcType="SMALLINT" />
    <result column="endyear" property="endyear" jdbcType="SMALLINT" />
    <result column="endmonth" property="endmonth" jdbcType="SMALLINT" />
    <result column="agency" property="agency" jdbcType="VARCHAR" />
    <result column="course" property="course" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="todate" property="todate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, uid, startyear, startmonth, endyear, endmonth, agency, course, description, 
    todate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jk.pojo.QsAdvResumeTrainingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qs_adv_resume_training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qs_adv_resume_training
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qs_adv_resume_training
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jk.pojo.QsAdvResumeTrainingExample" >
    delete from qs_adv_resume_training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.QsAdvResumeTraining" >
    insert into qs_adv_resume_training (id, pid, uid, 
      startyear, startmonth, endyear, 
      endmonth, agency, course, 
      description, todate)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{startyear,jdbcType=SMALLINT}, #{startmonth,jdbcType=SMALLINT}, #{endyear,jdbcType=SMALLINT}, 
      #{endmonth,jdbcType=SMALLINT}, #{agency,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{todate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.QsAdvResumeTraining" >
    insert into qs_adv_resume_training
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="startyear != null" >
        startyear,
      </if>
      <if test="startmonth != null" >
        startmonth,
      </if>
      <if test="endyear != null" >
        endyear,
      </if>
      <if test="endmonth != null" >
        endmonth,
      </if>
      <if test="agency != null" >
        agency,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="todate != null" >
        todate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="startyear != null" >
        #{startyear,jdbcType=SMALLINT},
      </if>
      <if test="startmonth != null" >
        #{startmonth,jdbcType=SMALLINT},
      </if>
      <if test="endyear != null" >
        #{endyear,jdbcType=SMALLINT},
      </if>
      <if test="endmonth != null" >
        #{endmonth,jdbcType=SMALLINT},
      </if>
      <if test="agency != null" >
        #{agency,jdbcType=VARCHAR},
      </if>
      <if test="course != null" >
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="todate != null" >
        #{todate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jk.pojo.QsAdvResumeTrainingExample" resultType="java.lang.Integer" >
    select count(*) from qs_adv_resume_training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update qs_adv_resume_training
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.startyear != null" >
        startyear = #{record.startyear,jdbcType=SMALLINT},
      </if>
      <if test="record.startmonth != null" >
        startmonth = #{record.startmonth,jdbcType=SMALLINT},
      </if>
      <if test="record.endyear != null" >
        endyear = #{record.endyear,jdbcType=SMALLINT},
      </if>
      <if test="record.endmonth != null" >
        endmonth = #{record.endmonth,jdbcType=SMALLINT},
      </if>
      <if test="record.agency != null" >
        agency = #{record.agency,jdbcType=VARCHAR},
      </if>
      <if test="record.course != null" >
        course = #{record.course,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.todate != null" >
        todate = #{record.todate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update qs_adv_resume_training
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      startyear = #{record.startyear,jdbcType=SMALLINT},
      startmonth = #{record.startmonth,jdbcType=SMALLINT},
      endyear = #{record.endyear,jdbcType=SMALLINT},
      endmonth = #{record.endmonth,jdbcType=SMALLINT},
      agency = #{record.agency,jdbcType=VARCHAR},
      course = #{record.course,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      todate = #{record.todate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.QsAdvResumeTraining" >
    update qs_adv_resume_training
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="startyear != null" >
        startyear = #{startyear,jdbcType=SMALLINT},
      </if>
      <if test="startmonth != null" >
        startmonth = #{startmonth,jdbcType=SMALLINT},
      </if>
      <if test="endyear != null" >
        endyear = #{endyear,jdbcType=SMALLINT},
      </if>
      <if test="endmonth != null" >
        endmonth = #{endmonth,jdbcType=SMALLINT},
      </if>
      <if test="agency != null" >
        agency = #{agency,jdbcType=VARCHAR},
      </if>
      <if test="course != null" >
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="todate != null" >
        todate = #{todate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.QsAdvResumeTraining" >
    update qs_adv_resume_training
    set pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      startyear = #{startyear,jdbcType=SMALLINT},
      startmonth = #{startmonth,jdbcType=SMALLINT},
      endyear = #{endyear,jdbcType=SMALLINT},
      endmonth = #{endmonth,jdbcType=SMALLINT},
      agency = #{agency,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      todate = #{todate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>